body{
    background:#f5f7fa;
    text-align:center;
    font-family:Arial,sans-serif;
    padding-top:100px;
}

h1{
    color:#0d6efd;
}

h2{
    color:#198754;
}

p{
    font-size:22px;
}